{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style> body {
        margin: 0
    }

    img {
        height: 100%;
        width: auto
    }</style>
</head>
<body>
<img id='topimage' src='{% static 'capture.bmp' %}' style="height: 240px; width: 320px; background-color: white" alt="capture image of camera">
{#onload='this.style.display="initial"; var b = document.getElementById("b"); b.style.display="none"; b.src="{% static 'capture.bmp' %}?"+new Date().getTime(); '#}
{#<img id='b' style='display: none' src='{% static 'capture.bmp' %}'#}
{#        onload='this.style.display="initial"; var a = document.getElementById("a"); a.style.display="none"; a.src="{% static 'capture.bmp' %}?"+new Date().getTime(); '>#}
</body>
</html>

{#<script>#}
{#    setInterval(() => {#}
{#        document.getElementById("topimage").src = "{% static 'capture.bmp' %}?timestamp=" + new Date().getTime();;#}
{#    }, 200)#}
{#</script>#}