{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style> body {
        margin: 0
    }

    img {
        height: 100%;
        width: auto
    }</style>
    <title>Bot camera</title>
</head>
<body>
{% if settings.USE_S3 %}
    <img id='topimage' src='{{ settings.S3_URL }}capture.bmp'
         style="height: 240px; width: 320px; background-color: white" alt="capture image of camera">
{% else %}
    <img id='topimage' src='{% static 'capture.bmp' %}'
         style="height: 240px; width: 320px; background-color: white" alt="capture image of camera">
{% endif %}
</body>
</html>

<script>
    setInterval(() => {
        {% if settings.USE_S3 %}
            document.getElementById("topimage").src = "{{ settings.S3_URL }}capture.bmp?timestamp=" + new Date().getTime();
        {% else %}
            document.getElementById("topimage").src = "{% static 'capture.bmp' %}?timestamp=" + new Date().getTime();
        {% endif %}
     }, 200)
</script>